body{
      background-color: #E8E8E8;
}

#konten{
      margin-top: 50px;
      position: static;
}

#homepage{
      margin-top: 20px;
      margin-left: 10px;
      margin-right: 10px;
}

.container-fluid{
      background-color:#FFFFFF;
    

}

.navbar-fixed-top{
      opacity: 0.95;
}

#navbar_brand{
 font-family: fantasy;   
}
#menubar{
      color: white;
}

#navbarText{
      font-size: medium;
}
#navbarText:hover{
      font-size: medium;
      color:white;
      background: black;
      

}

#brand_logo{
   width: 5%;
   padding-right: 20px;
}

#pengganti_slideshow{
      
      
}
#about_us{
   position: center;
   margin-top: 80px;
   margin-left: 150px;
   margin-right: 10px; 
}
#tulisan h2{
   font-size: 40px;
   font-family: Tahoma, sans-serif;
   font-weight: bold;  
}
#men_collection{
   position: center;
   margin-top: 20px;
   margin-left: 50px;
   margin-right: 50px;   
}
#men_head img{
   height: 300px;
}
#womens_head img{
   height: 300px;
}
#contact_us_order{
   position: center;
   margin-top: 80px;
   margin-left: 150px;
   margin-right: 10px;
}
#contact_us_order img{
   height: 50px;
   
}
#contact_us_ig{
   position: center;
   margin-top: 80px;
   margin-left: 150px;
   margin-right: 10px;
}
#contact_us_alamat{
   position: center;
   margin-top: 80px;
   margin-left: 150px;
   margin-right: 10px;
}