body{
      background-color: #E8E8E8;
}

#konten{
      margin-top: 50px;
      position: static;
}

#homepage{
      margin-top: 20px;
      margin-left: 10px;
      margin-right: 10px;
}

.container-fluid{
      background-color:#FFFFFF;
    

}

.navbar-fixed-top{
      opacity: 0.95;
}

#navbar_brand{
 font-family: fantasy;   
}
#menubar{
      color: white;
}

#navbarText{
      font-size: medium;
}
#navbarText:hover{
      font-size: medium;
      color:white;
      background: black;
      

}

#brand_logo{
   width: 5%;
   padding-right: 20px;
}

#pengganti_slideshow{
      
      
}