body{
      background-color: #FFFFFF;
}

#konten{
      margin-top: 50px;
      position: static;
      
}

#homepage{
      margin-top: 20px;
      margin-left: 10px;
      margin-right: 10px;
}

.container-fluid{
      background-color:#FFFFFF;
      
    

}

/*#logomenu{
      position: relative;
      height: 20%;
}*/

.navbar-fixed-top{
      
      opacity: 0.95;
}

#navbar_brand{
 font-family: fantasy;   
}
#menubar{
      padding-bottom: 5px;
     
      
}

.centered {
  position: fixed;
  left: 40%;
  margin-top: -50px;
  margin-left: -100px;
}

#navbarText{
      font-size: medium;
}
#navbarText:hover{
      font-size: medium;
      color:white;
      background: black;
      

}

#brand_logo{
   width: 5%;
   padding-right: 20px;
}

#pengganti_slideshow{
      
      
}